@charset "UTF-8";

/* ---------------------
    - common setting
    - 曲設定画面
    - ログイン画面
    - スタート画面
    - 回答画面（question）
    - 回答画面（answer）
    - 集計画面
--------------------- */

/* =====================
  共通style
===================== */
#main {
    margin: 0 auto;
    width: 760px;
    padding: 10px;
}

#main h1 {
    color: #8cb531;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin: 0 0 10px;
}

#main h1 span {
    display: block;
    font-size: 20px;
    color: #000000;
    line-height: 2;
    font-weight: normal;
}

.btn1{
    margin: 0 0 20px;
}

.btn1 a{
    background-color: #75cae9;
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 30px;
}

.btn1 a:hover{
    background-color: #9acfe2;
}

.btn2{
    background-color: #f59dba;
    text-decoration: none;
    color: #f9f9f9;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    margin: 0 auto 20px;
    padding: 15px 0;
    cursor: pointer;
    border-radius: 30px;
    background-image: url(../img/icon_plus.png);
    background-repeat: no-repeat;
    background-position: 90% 11px;
    background-size: 10%;
}

.btn2.active {
    background-image: url(../img/icon_minus.png);
}

.btn3{
    background-color: #925d39;
    text-decoration: none;
    color: #f9f9f9;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    padding: 15px 0;
    cursor: pointer;
    border-radius: 30px;
    background-image: url(../img/icon_plus.png);
    background-repeat: no-repeat;
    background-position: 90% 11px;
    background-size: 10%;
}

.btn3.active {
    background-image: url(../img/icon_minus.png);
}

#btn_play{
    cursor: pointer;
    width: 150px;
    margin: 10px auto 15px;
}

#btn_play:hover{
    opacity: 0.8;
}

/* balloon */
.text_click {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    width: auto;
    min-width: 115px;
    height: 40px;
    color: #F6F6F6;
    line-height: 40px;
    text-align: center;
    background: #fd7277;
    z-index: 0;
}

.text_click:after {
    content: "";
    position: absolute;
    top: -10px; left: 50%;
    margin-left: -10px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fd7277 transparent;
}

/* =====================
  ログイン画面
===================== */
#wrap_login{
    background-color: #ffffff;
    padding: 40px;
    margin: 0 0 30px;
}

#wrap_login .submit{
    width: 80%;
    margin: 0 auto;
}

#wrap_login .input{
    width: 80%;
    margin: 0 auto 15px;
}

#wrap_login input{
    width: 100%;
    padding: 10px;
    font-size: 28px;
    box-sizing: border-box;
    border: 1px solid #999999;
}

#wrap_login label {
    margin: 0 0 5px;
    display: block;
}

#wrap_login input[type="text"]{
    background-color: white !important;
    display: block;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
}

#wrap_login input[type="submit"]{
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #e26262;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    padding: 13px 0;
    cursor: pointer;
    border: none;
}

.btn_logout{
    margin: 0 0 20px;
}

.btn_logout a{
    background-image: url(../img/icon_logout.png);
    background-repeat: no-repeat;
    background-position: 90% 10px;
    background-size: 10%;
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #d1d1d4;
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
    border-radius: 30px;
}

#caution{
    margin: 5px 65px 0 0;
    color: red;
    font-size: 14px;
    text-align: right;
}

.error-message{
    color: #ff0000;
    margin: 5px 0 0;
}
/* =====================
  スタート画面
===================== */

.page_start h2{
    text-align: center;
    color: #4671f1;
    font-size: 20px;
    margin: 0 0 30px;
}

.page_start h2 span{
    font-size: 30px;
    margin: 0 10px;
    font-family: 'Comic Sans MS';
}

.page_start .single a{
    background-image: url(../img/icon_single.png);
    background-repeat: no-repeat;
    background-position: 93% -7px;
    background-size: 17%;
}

.page_start .multi a{
    background-image: url(../img/icon_multi.png);
    background-repeat: no-repeat;
    background-position: 91% 8px;
    background-size: 12%;
}

.page_start #text{
    background-color: #ffffff;
    padding: 30px;
    margin: 15px auto 20px;
    line-height: 1.5;
    border-radius: 50px;
    width: 367px;
    display: none;
}

.page_start #record{
    margin: 20px 0 0;
    font-size: 21px;
    display: none;
}

.page_start #record table{
    width: 47%;
    margin: 0 auto 20px;
}

.page_start #record table th,
.page_start #record table td{
    border: none;
    color: #6b340f;
    padding: 10px;
    font-size: 16px !important;
    background-color: #ffe3cf;
    text-align: center;
}

.page_start #record table th{
    background-color: #d8b49b;
    font-weight: normal;
    width: 66%;
}

/* =====================
  曲設定画面
===================== */
#main.wrap_setting{
    width: 570px;
}

.wrap_setting #wrap_setbox{
    background-color: #ffffff;
    padding: 30px;
}

.wrap_setting h2 {
    background-color: #45a2cc;
    color: #ffffff;
    padding: 15px;
    font-size: 22px;
}

.wrap_setting .input{
    width: 100%;
}

.wrap_setting select{
    border: 1px solid #717171;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    font-family: 'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.wrap_setting select option {

}

.wrap_setting .submit{
    margin: 30px auto;
}

.wrap_setting .submit input[type="submit"]{
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #75cae9;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    padding: 13px 0;
    cursor: pointer;
    width: 90%;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url(../img/icon_search.png);
    background-position: 86% center;
}

.wrap_setting .submit input[type="submit"]:hover{
    background-color: #9acfe2;
}

.wrap_setting .btn1 a{
    width: 90%;
}

/** Notices and Errors **/

#flashMessage{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    margin: auto;
    bottom: 0;
    padding: 12px 10px 0;
    width: 36%;
    height: 40px;
    border: none;
    text-align: center;
    right: 0;
    line-height: 1.3;
}

.message {
    clear: both;
    color: #fff;
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
    background: #ffcc00;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
    background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
    background-image: linear-gradient(top, #ffcc00, #E6B800);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 18px;
    padding: 7px 14px;
    color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
    clear: both;
    color: #fff;
    background: #c43c35;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
    clear: both;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #3B8230;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
    background-image: linear-gradient(top, #76BF6B, #3B8230);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
    font-family: Monaco, Consolas, Courier, monospace;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
p.error em {
    font-weight: normal;
    line-height: 140%;
}
.notice {
    color: #000;
    display: block;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
.success {
    color: #fff;
}

/* =====================
  回答画面（question）
===================== */
#wrap_question{
    background-color: #ffffff;
    padding: 90px 0 30px;
    position: relative;
    min-height: 400px;
}

#name{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    color: #307cde;
}

#name span{
    font-weight: bold;
    font-size: 20px;
}

#wrap_question .question_number{
    font-family: 'Comic Sans MS';
    text-align: center;
    width: 100px;
    margin: 0 0 15px;
    position: absolute;
    padding: 24px 0;
    left: 0;
    top: 0;
    font-size: 20px;

}

#wrap_question .question_number span {
    font-weight: bold;
    margin: 0 3px;
    font-family: 'Comic Sans MS';
    font-size: 35px;
}

#wrap_question #wrap_audio{
    text-align: center;
    margin: 30px 0 15px;
    float: left;
    width: 300px;
}

#wrap_question audio{
    margin: 30px auto;
}

#wrap_question #song_list{
    float: right;
    width: 460px;
}

#wrap_question #song_list li{
    margin: 0 0 10px;
    text-align: center;
}

#wrap_question button {
    position: relative;
    background-color: #1abc9c;
    border-radius: 15px;
    color: #fff;
    line-height: 1.5;
    -webkit-transition: none;
    width: 87%;
    transition: none;
    box-shadow: 0 3px 0 #0e8c73;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    border: none;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
    padding: 10px;
    font-family:'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#wrap_question button:hover {
    background-color: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
}

#wrap_question button:active {
    top: 3px;
    box-shadow: none;
}

#wrap_question button.active {
    top: 3px;
    box-shadow: none;
    background-color: #f587c7;
}

#wrap_question{}

#wrap_question #view_button{
    text-align: center;
}

#wrap_question #view_button button{
    margin: 0 0 10px;
}


#wrap_question button span {
    display: block;
    font-size: 16px;
}

#wrap_question form {
    overflow: hidden;
}

#countDownWrap{
    font-size: 300px;
    font-weight: bold;
    text-align: center;
    color: #ef4f4f;
}

#countDownWrap #viewCount #countDown{
    font-size: 210px;
    font-weight: bold;
    font-family: 'Comic Sans MS';
}

#viewTextNext{
    text-align: center;
    margin: 0 0 10px;
    font-size: 24px;
}

#viewTextNext #countDown2{
    font-size: 90px;
    font-weight: bold;
    margin: 0 10px;
    font-family: 'Comic Sans MS';
    color: #ef4f4f;
}

/* =====================
  回答画面（answer）
===================== */
#wrap_answer{
    background-color: #ffffff;
    padding: 30px 0;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

#wrap_answer .judge_text{
    font-size: 70px;
    font-weight: bold;
    margin: 0 0 10px;
}

#wrap_answer .judge_text.correct{
    color: #fa84ab;
}

#wrap_answer .judge_text.wrong{
    color: #2dc2f9;
}

#wrap_answer .correct_answer{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.3;
    background: rgba(255,255,255, 0.4);
    margin: 30px 20px;
    padding: 20px;
}

#wrap_answer .correct_answer span{
    display: block;
    font-size: 26px;
    margin: 0 0 30px;
}

#wrap_answer .next input{
    border-radius: 30px;
    display: block;
    font-weight: bold;
    color: #ffffff;
    font-size: 35px;
    width: 50%;
    border: none;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
}

#wrap_answer .next input.btn_next{
    background-color: #fa84ab;
}

#wrap_answer .next input.btn_result{
    width: 92%;
    padding: 15px 0;
    background-color: #ef5151;
}

.wrap_correct{
    background: url(../img/img_correct.png) ;
}

.wrap_wrong{
    background-image: url(../img/img_wrong.png);
}

.next_q{
    font-size: 24px;
}

.next_q #countDown{
    font-size: 90px;
    font-weight: bold;
    margin: 0 10px;
    color: #ef4f4f;
    font-family: 'Comic Sans MS';
}
/* =====================
  集計画面
===================== */

#box_result h2{
    text-align: center;
    font-size: 50px;
    margin: 0 0 15px;
    color: #ef5151;
}

#box_result #detail_song table{
    width: 100%;
    border-right: 1px solid #cec9c9;
    border-bottom: 1px solid #cec9c9;
    margin: 0 auto 20px;
}

#box_result #detail_song table td,
#box_result #detail_song table th{
    border-left: 1px solid #cec9c9;
    border-top: 1px solid #cec9c9;
    padding: 5px;
    vertical-align: middle;
    background-color: #ffffe3;
    text-align: center;
}

#box_result #detail_song table th{
    background-color: #f9a27b;
    padding: 10px 0;
    color: white;
}

#box_result #detail_song table td.cell_result{
    font-size: 36px !important;
}

#box_result #detail_song table td .list{
    font-size: 12px;
}

#box_result #detail_song table td.true{
    color: red;
}

#box_result #detail_song table td.false{
    color: blue;
}

#box_result{
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}

#box_result #text{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px;
}

#box_result #text span{
    color: #ff0000;
    font-size: 55px;
    margin: 0 10px;
    font-family: 'Comic Sans MS';
}

#box_result table td .song_name{
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 5px;
}

#box_result #btn_more{
    margin: 0 0 20px;
}

#box_result #btn_more a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #75cae9;
    width: 50%;
    margin: 0 auto;
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
    border-radius: 30px;
}

#box_result #btn_leave a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #8d8d8e;
    width: 50%;
    margin: 0 auto;
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
    border-radius: 30px;
}

#box_result #ranking table{
    border: none;
    width: 100%;
    margin: 0 0 30px;
}

#box_result #ranking table th{
    background-color: #4545e8;
    color: #ffffff;
}

#box_result #ranking table td{
    background-color: #ffffff;
}

#box_result #ranking table th, #box_result #ranking table td{
    border: none;
    border-bottom: 1px solid #cec9c9;
    padding: 10px;
    font-size: 23px !important;
    vertical-align: middle;
    text-align: center;
    font-family: 'Comic Sans MS';
}

#box_result #ranking table td.name {
    font-size: 23px !important;
    text-align: left;
    font-weight: bold;
    font-family: 'Comic Sans MS';
}

#box_result #ranking table td.score span {
    background-color: #f34052;
    color: #ffffff;
    display: block;
    font-weight: bold;
    font-size: 27px;
    border-radius: 24px;
    margin: 0 auto;
    width: 60px;
    text-align: center;
    padding: 10px;
    font-family: 'Comic Sans MS';
}

#show_detail{
    cursor: pointer;
    padding: 20px 0;
    background-color: #f7673e;
    font-weight: bold;
    width: 55%;
    color: #ffffff;
    font-size: 26px;
    margin: 0 auto 20px;
}

/* =====================
  募集画面
===================== */

#wrap_join{
    background-color: #f3f2f2;
    padding: 30px;
    position: relative;
    z-index: 1;
}

#wrap_join #text_limit{
    font-size: 26px;
    text-align: center;
}

#wrap_join #text_limit span{
    font-size: 40px;
    font-weight: bold;
    margin: 0 15px;
    color: #f35151;
    font-family: 'Comic Sans MS';
}

#wrap_join #text_join{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    top: 25px;
}

#wrap_join #text_join_finish{
    text-align: center;
    display: none;
}

#wrap_join #text_join_finish span{
    display: block;
    font-family: 'Comic Sans MS';
    font-size: 60px;
    font-weight: bold;
}

#wrap_join #text_join_finish img{
    margin: 20px 0 0;
}

#wrap_join #list_member{
    padding: 75px 30px 30px;
    line-height: 2;
    background-color: #fffefe;
    height: 240px;
    width: 90%;
    margin: -40px auto 0;
    box-shadow:0 10px 30px -8px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 10px 30px -8px rgba(0,0,0,0.2);
}

#wrap_join #list_member ul li {
    border-bottom: 1px dashed gray;
}

#wrap_join #list_member ul li span {
    font-weight: bold;
    color: #4f4ff5;
    margin: 0 10px 0 0;
    font-size: 30px !important;
    font-family: 'Comic Sans MS';
}


/*----リボン----*/
.ex-1{
    position: relative;

    /*リボンの色*/
    background-color: lightcoral;/*グラデーションが表示されないブラウザ用*/

    /*文字*/
    color: white;
    text-align: center;
    text-shadow:0 1px 0 rgba(255,255,255,0.3);
    -webkit-text-shadow:0 1px 0 rgba(255,255,255,0.3);

    /*リボンの幅と高さ*/
    line-height:  50px;

    /*はみ出る部分*/
    margin-left: -15px;
    margin-right: -15px;

    /*上側だけちょこっと角丸*/
    border-radius:2px 2px 0 0;
    -webkit-border-radius:2px 2px 0 0;

    /*リボンが少し浮いて見えるようにうっすらとシャドウ*/
    box-shadow:0 10px 30px -8px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 10px 30px -8px rgba(0,0,0,0.2);
}

.ex-1:before{
    position: absolute;
    top:50%;
    left:-25px;
    content: "";
    border: 25px solid transparent;
    border-right-color: indianred ;
    z-index: -1;
}

.ex-1:after{
    position: absolute;
    top:50%;
    right:-25px;
    content: "";
    border: 25px solid transparent;
    border-left-color: indianred ;
    z-index: -1;
}