@charset "UTF-8";

/* ---------------------
　　　SP用
    - common setting
    - ログイン画面
    - スタート画面
    - 回答画面（question）
    - 回答画面（answer）
    - 集計画面
--------------------- */

/* =====================
  共通style
===================== */

input[type="submit"] {
    -webkit-appearance: none;
}

#main {
    width: auto;
    padding: 0;
}

#main h1 img {
    width: 95%;
}

/* =====================
  ログイン画面
===================== */

#wrap_login{
    padding: 15px 0 5px;
    margin: 0 0 10px;
}

#wrap_login .submit{
    width: 90%;
}

#wrap_login .input{
    width: 90%;
}

.btn_logout a{ width: 94%; }

#caution{
    margin: 5px 10px 0 0;
    font-size: 12px;
}

/* =====================
  スタート画面
===================== */

.page_start h2{
    margin: 0 0 10px;

}

.page_start .btn1 a{
    width: 94%;
}

.page_start .single a {
    background-position: 97% 2px;
}

.page_start .multi a {
    background-position: 94% 13px;
}

.page_start .btn2{
    width: 94%;
}

.page_start #text{
    padding: 11px 25px;
    font-size: 10px;
    width: 80%;
    margin: 10px auto;
}

.page_start #record table {
    width: 90%;
}

/* =====================
  曲設定画面
===================== */
#main.wrap_setting{
    width: auto;
}

.wrap_setting select option {
    font-size: 14px;
}

.wrap_setting .submit input[type="submit"]{
    font-size: 24px;
}

.wrap_setting .btn1 a{
    font-size: 24px;
}

/* =====================
  回答画面（question）
===================== */
#wrap_question{
    padding: 49px 0 0;
}

#name{
    width: 211px;
    text-align: right;
}

#wrap_question .question_number{
    width: 65px;
    font-size: 12px;
    padding: 10px 1px;
}

#wrap_question .question_number span {
    font-size: 20px;
}

#wrap_question #wrap_audio{
    margin: 0 0 20px;
    float: none;
    width: auto;
}

#wrap_question #song_list{
    width: auto;
    float: none;
}

#wrap_question button {
    width: 94%;
    font-size: 20px;
}

/*マルチ調整*/

#countDownWrap {
    position: static;
    font-size: 24px;
    margin: 30px 0 0;
}

#countDownWrap #viewCount #countDown {
    font-size: 110px;
}

#viewTextNext #countDown2{
    font-size: 30px;
}

/* =====================
  回答画面（answer）
===================== */
#wrap_answer{
    padding: 0 0 20px;
    background-size: 133%;
}

#wrap_answer .correct_answer{
    padding: 10px 0 10px;
    margin: 0;
    font-size: 25px;
}

#wrap_answer .correct_answer span{
    font-size: 20px;
    margin: 0 0 10px;
}

#wrap_answer .next input.btn_next{
    width: 90%;
    font-size: 20px;
}

#wrap_answer .next input.btn_result{
    width: 90%;
    font-size: 20px;
}


#wrap_audio.sp{
    margin: 0 0 10px;
}

#wrap_audio.sp img{
    width: 50%;
}

#btn_play {
    margin: 0px auto 10px;
}

/* =====================
  集計画面
===================== */

#box_result h2{
    font-size: 25px;
}

#box_result table{
    font-size: 11px;
}

#box_result table th{
    font-size: 12px;
}

#box_result table td.cell_result{
    font-size: 18px !important;
}

#box_result{
    padding: 10px;
}

#box_result #text{
    font-size: 20px;
}

#box_result #text span{
    font-size: 30px;
}

#box_result table td .song_name{
    font-size: 13px;
    margin: 0 0 5px;
}

#box_result #btn_more{
    width: 100%;
}

#box_result #btn_more a{
    width: 86%;
    font-size: 20px;
}

#box_result #btn_leave a{
    width: 86%;
    font-size: 20px;
}

/*マルチ調整*/
#box_result h2 img{
    width: 100%;
}

#box_result #ranking table th, #box_result #ranking table td{
    font-size: 16px !important;
}

#show_detail{
    width: 100%;
    font-size: 20px;
}

#box_result #ranking table img{
    width: 100%;
}

/* =====================
  募集画面
===================== */

#wrap_join{
    padding: 10px;
}

#wrap_join #list_member{
    width: auto;
    padding: 66px 10px 0;
}

#wrap_join #text_limit {
    font-size: 20px;
}

#wrap_join #list_member ul li {
    font-size: 18px;
}

#wrap_join #text_join_finish{
    font-size: 30px;
}

#wrap_join .ex-1{margin: 0;}
#wrap_join .ex-1:before{display: none;}
#wrap_join .ex-1:after{display: none;}

