@charset "UTF-8";

/* ---------------------
    - common setting
    - ログイン画面
    - スタート画面
    - 回答画面（question）
    - 回答画面（answer）
    - 集計画面
--------------------- */

/* =====================
  共通style
===================== */
#main {
    margin: 0 auto;
    width: 760px;
    padding: 10px;
}

#main h1 {
    color: #8cb531;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

#main h1 span {
    display: block;
    font-size: 20px;
    color: #000000;
    line-height: 2;
    font-weight: normal;
}

/* =====================
  ログイン画面
===================== */
#wrap_login{
    background-color: #ffffff;
    padding: 40px;
    margin: 0 0 30px;
}

#wrap_login .submit{
    width: 80%;
    margin: 0 auto;
}

#wrap_login .input{
    width: 80%;
    margin: 0 auto 15px;
}

#wrap_login input{
    width: 100%;
    padding: 10px;
    font-size: 28px;
    box-sizing: border-box;
    border: 1px solid #999999;
}

#wrap_login label {
    margin: 0 0 5px;
    display: block;
}
#wrap_login input[type="text"]{
    background-color: white !important;
    display: block;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
}

#wrap_login input[type="submit"]{
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #a6a6a6;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    padding: 13px 0;
    cursor: pointer;
}

.btn_logout{
    margin: 0 0 20px;
}

.btn_logout a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #d1d1d4;
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
}

#caution{
    margin: 5px 48px 0 0;
    color: red;
    font-size: 14px;
    text-align: right;
}

.error-message{
    color: #ff0000;
    margin: 5px 0 0;
}
/* =====================
  スタート画面
===================== */

.page_start h2{
    text-align: center;
    color: #4671f1;
    font-size: 20px;
    margin: 0 0 30px;
}

.page_start h2 span{
    font-size: 30px;
    margin: 0 10px;
}

.page_start .single a{
    background-image: url(../img/icon_single.png);
    background-repeat: no-repeat;
    background-position: 93% -7px;
    background-size: 17%;
}

.page_start .multi a{
    background-image: url(../img/icon_multi.png);
    background-repeat: no-repeat;
    background-position: 91% 8px;
    background-size: 12%;
}

.page_start .btn1{
    margin: 0 0 20px;
}

.page_start .btn1 a{
    background-color: #75cae9;
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    padding: 15px 0;
 }

.page_start .btn2{
    background-color: #fbd4e1;
    text-decoration: none;
    color: #6d6d6c;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    padding: 15px 0;
    cursor: pointer;
}

.page_start #text{
    background-color: #ffffff;
    padding: 30px;
    margin: 15px auto 0;
    line-height: 1.5;
    border-radius: 50px;
    width: 367px;
    display: none;
}

/* =====================
  回答画面（question）
===================== */
#wrap_question{
    background-color: #ffffff;
    padding: 90px 0 30px;
    position: relative;
    min-height: 400px;
}

#name{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    color: #307cde;
}

#name span{
    font-weight: bold;
    font-size: 20px;
}

/* balloon */
#wrap_question .text_click {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    width: auto;
    min-width: 115px;
    height: 40px;
    color: #F6F6F6;
    line-height: 40px;
    text-align: center;
    background: #fd7277;
    z-index: 0;
}

#wrap_question .text_click:after {
    content: "";
    position: absolute;
    top: -10px; left: 50%;
    margin-left: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fd7277 transparent;
}

#wrap_question .question_number{
    text-align: center;
    font-size: 20px;
    background-color: #888785;
    color: #ffffff;
    width: 70px;
    margin: 0 0 15px;
    position: absolute;
    padding: 24px 0;
    left: 0px;
    top: 0;
    font-size:15px;
}

#wrap_question .question_number span {
    font-size: 23px;
    font-weight: bold;
    text-shadow: -2px 4px 0 rgba(0, 0, 0, 0.3);
    margin: 0 3px;
    font-family: verdana;
}

#wrap_question #wrap_audio{
    text-align: center;
    margin: 30px 0 15px;
    float: left;
    width: 300px;
}

#wrap_question audio{
    margin: 30px auto;
}

#wrap_question #song_list{
    float: right;
    width: 460px;
}

#wrap_question #song_list li{
    margin: 0 0 10px;
    text-align: center;
}

#wrap_question #btn_play{
    cursor: pointer;
    width: 150px;
    margin: 10px auto 15px;
}

#wrap_question #btn_play:hover{
    opacity: 0.8;
}

#wrap_question button {
    position: relative;
    background-color: #1abc9c;
    border-radius: 15px;
    color: #fff;
    line-height: 1.5;
    -webkit-transition: none;
    width: 87%;
    transition: none;
    box-shadow: 0 3px 0 #0e8c73;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    border: none;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
    padding: 10px;
    font-family:'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#wrap_question button:hover {
    background-color: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
}
#wrap_question button:active {
    top: 3px;
    box-shadow: none;
}

#wrap_question button.active {
    top: 3px;
    box-shadow: none;
    background-color: #f587c7;
}

#wrap_question{}

#wrap_question #view_button{
    text-align: center;
}

#wrap_question #view_button button{
    margin: 0 0 10px;
}


#wrap_question button span {
    display: block;
    font-size: 16px;
}

#wrap_question form {
    overflow: hidden;
}

#countDownWrap{
    position: absolute;
    left: 24%;
    top: 26%;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}

#countDownWrap #viewCount{

}

#countDownWrap #viewCount #countDown{
    font-size: 210px;
    font-weight: bold;
}

#viewTextNext{
    text-align: center;
}

#viewTextNext #countDown2{
    font-size: 90px;
    font-weight: bold;
}

/* =====================
  回答画面（answer）
===================== */
#wrap_answer{
    background-color: #ffffff;
    padding: 30px 0;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

#wrap_answer form{

}

#wrap_answer .judge_text{
    font-size: 70px;
    font-weight: bold;
    margin: 0 0 10px;
}

#wrap_answer .judge_text.correct{
    color: #fa84ab;
}

#wrap_answer .judge_text.wrong{
    color: #2dc2f9;
}

#wrap_answer .correct_answer{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.3;
    background: rgba(255,255,255, 0.4);
    margin: 30px 20px;
    padding: 20px;
}

#wrap_answer .correct_answer span{
    display: block;
    font-size: 26px;
    margin: 0 0 30px;
}

#wrap_answer .next input{
    display: block;
    font-weight: bold;
    color: #ffffff;
    font-size: 35px;
    width: 50%;
    border: none;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
}

#wrap_answer .next input.btn_next{
    background-color: #fa84ab;
}

#wrap_answer .next input.btn_result{
    width: 92%;
    padding: 15px 0;
    background-color: #ef5151;
}

.wrap_correct{
    background: url(../img/img_correct.png) ;
}

.wrap_wrong{
    background-image: url(../img/img_wrong.png);
}
/* =====================
  集計画面
===================== */

#box_result h2{
    text-align: center;
    font-size: 50px;
    margin: 0 0 15px;
    color: #ef5151;
}

#box_result #detail_song{

    display: none;
}

#box_result #detail_song table{
    width: 100%;
    border-right: 1px solid #cec9c9;
    border-bottom: 1px solid #cec9c9;
    margin: 0 auto 20px;
}

#box_result #detail_song table td,
#box_result #detail_song table th{
    border-left: 1px solid #cec9c9;
    border-top: 1px solid #cec9c9;
    padding: 5px;
    vertical-align: middle;
    background-color: #ffffe3;
    text-align: center;
}

#box_result #detail_song table th{
    background-color: #f9a27b;
    padding: 10px 0;
    color: white;
}

#box_result #detail_song table td.cell_result{
    font-size: 36px !important;
}

#box_result #detail_song table td .list{
    font-size: 12px;
}

#box_result #detail_song table td.true{
    color: blue;
}

#box_result #detail_song table td.false{
    color: red;
}

 #box_result{
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}

 #box_result #text{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px;
}

 #box_result #text span{
    color: #ff0000;
    font-size: 55px;
    margin: 0 10px;
}

#box_result table td .song_name{
    font-weight: bold;
    font-size: 20px;
}

 #box_result #btn_more{
    margin: 0 0 20px;
}

 #box_result #btn_more a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #75cae9;
    width: 50%;
    margin: 0 auto;
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
}

 #box_result #btn_leave a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #8d8d8e;
    width: 50%;
    margin: 0 auto;
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
}

#box_result #ranking{}

#box_result #ranking table{
    border: none;
    width: 100%;
    margin: 0 0 30px;
}

#box_result #ranking table th{
    background-color: #4545e8;
    color: #ffffff;
}

#box_result #ranking table td{
    background-color: #ffffff;
}

#box_result #ranking table th, #box_result #ranking table td{
    border: none;
    border-bottom: 1px solid #cec9c9;
    padding: 10px;
    font-size: 23px !important;
    vertical-align: middle;
    text-align: center;
}

#box_result #ranking table td.name {
    font-size: 23px !important;
    text-align: left;
    font-weight: bold;
}

#box_result #ranking table td.score {

}

#box_result #ranking table td.score span {
    background-color: #f34052;
    color: #ffffff;
    display: block;
    font-weight: bold;
    font-size: 27px;
    border-radius: 24px;
    margin: 0 auto;
    width: 60px;
    text-align: center;
    padding: 10px;
}

#show_detail{
    cursor: pointer;
    padding: 20px 0;
    background-color: #f7673e;
    font-weight: bold;
    width: 55%;
    color: #ffffff;
    font-size: 26px;
    margin: 0 auto 20px;
}

/* =====================
  募集画面
===================== */

#wrap_join{background-color: #edf9fb;padding: 30px;}

#wrap_join #text_limit{font-size: 20px;margin: 0 0 40px 0;text-align: right;}

#wrap_join #text_limit span{font-size: 37px;}

#wrap_join #text_join{font-size: 45px;text-align: center;margin: 0 0 16px 0;}
#wrap_join #text_join_finish{font-size: 45px;text-align: center;margin: 0 0 16px 0;
    display: none;}

#wrap_join #list_member{border: 1px solid #000000;padding: 30px;line-height: 2;background-color: #fffefe;height: 200px;}

#wrap_join #list_member ul{

}

#wrap_join #list_member ul li{

}

#wrap_join #list_member ul li span{font-weight: bold;margin: 0 10px 0 0;}